// COLOR
$hexWhite: #ffffff;
$hexBlack: #222;
$hexText: #010102;
$hexTextDesc: #252528;
$hexListText: #848487;
$hexGray: #e4e4e7;
$hexBlue: #2e65d4;
$hexRed: #e65b17;

// FONT WEIGHT
$fwR: 400;
$fwM: 500;
$fwSB: 600;
$fwB: 700;
